@charset "utf-8";
/* CSS Document */
h1 {font-family: "covered-by-your-grace";
	color: midnightblue;
	font-weight: bold;
}
h2 {font-family: "covered-by-your-grace";
	color: midnightblue;
	font-weight: bold;
}

h4 {font-family: "herr-von-muellerhoff";
	font-style: italic;
}
