@charset "utf-8";
/* CSS Document */
h1 {font-family: "covered-by-your-grace";
	color: midnightblue;
	font-weight: bold;
}
h2 {font-family: "covered-by-your-grace";
	color: midnightblue;
	font-weight: bold;
}

h4 {font-family: "herr-von-muellerhoff";
	font-style: italic;
}

h5 {font-family: amaranth;}

.roman {
 list-style-type: lower-roman;
}
.square {
 list-style-type: square;
 margin-left: -2em;
}

#header {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
	padding-top: 40px;
  width: auto;
  height: 200px;
	background-color: lightblue;
	text-align: center
}

#bio {text-align: center}

#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 300px;
  height: 900;
	background-color: lightblue
}

#rcorners2 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 300px;
  height: 900;
	background-color: lightblue
}

#rcorners3 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 300px;
  height: 900;
	background-color: lightblue
}

#rcorners4 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 300px;
	height: 300;
	background-color: lightblue

}

#selfie {width: 125px;}

.language-progress {
	background-color: blueviolet !important;
}

.language-level {border-color: blueviolet !important;}



